:root {
    --primary-color1: hsl(0, 78%, 62%);
    --primary-color2: hsl(180, 62%, 55%);
    --primary-color3: hsl(34, 97%, 64%);
    --primary-color4: hsl(212, 86%, 64%);
    --neutral-color1: hsl(234, 12%, 34%);
    --neutral-color2: hsl(212, 6%, 44%);
    --neutral-color3: hsl(0, 0%, 100%);
    --opacity-color:  hsla(240, 0%, 48%, 5%);
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}


/* Samsung S25 et S25 Ultra */

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    background-color: var(--opacity-color);
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
}

.introduction p {
    color: var(--neutral-color2);
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.34rem;
    font-weight: 200;
}

h2 {
    font-size: 1,2rem;
    font-weight: 600;
    text-align: center;
}

h3 {
    color: var(--neutral-color1);

}

.subtitle1 {
    margin-bottom: 1.4rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.063rem; 
    margin: 2rem 2rem 1rem 2rem;
}

.introduction {
    margin-bottom: 1.5rem;
}

.box {
    width: 100%;
    position: relative;
    background-color: var(--neutral-color3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 3px 2px 1px 1px var(--neutral-color2);
}

.para {
    font-size: 0.83rem;
    color: var(--neutral-color2);
}

.one, .two, .three, .four {
    margin-top: 2rem;
    padding: 2rem 2rem 6rem 2rem;
}

.one{
    border-top: 3px solid var(--primary-color2);
}


.two{
    border-top: 3px solid var(--primary-color1);
}

.three{
    border-top: 3px solid var(--primary-color3);
}

.four{
    border-top: 3px solid var(--primary-color4);
}

img{
    position: absolute;
    top: 130px;
    right: 15%;
    z-index: 99;
    transform: translateX(-15%);
    width: 2.188rem;
}

/*Tablette Galaxy Tab S9  */

@media screen and (min-width: 44.5rem) {
    body {
        align-items: center;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.9em;
    }

    .introduction {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 3rem;
        padding: 2rem auto 0 auto;
    }

    .flex-container {
       justify-content: center;
       align-items: center;
       position: relative;
    }

    .box {
        width: 40%;

    }

    .one, .two, .three, .four {
        margin-top: 2rem;
        padding: 2rem 2rem 6rem 2rem;
    }

    .one {
        position: relative;
        top: 350px;
        right: 160px;
    }

    .two {
        position: relative;
        bottom: 135px;
    }

    .three {
        position: relative;
        bottom: 130px;
        left: 160px;
    }

    .four {
        position: relative;
        bottom: 120px;
    }

}

/* For a desktop screen */

@media screen and (min-width: 90rem){
    .introduction p {
        margin: 0 auto;
        padding: 0rem 2rem 1rem;
    }


    h1 {
        margin-top: 2rem;
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    .introduction {
        position: relative;
        margin: 0 3rem;
        padding: 3rem auto;
        text-align: center;
    }

    .flex-container {
       margin: 2rem auto;
    }

    .box {
        width: 35%;
    }

    .one, .two, .three, .four {
        margin-top: 0;
        padding: 2rem 2.5rem 7rem 2.5rem;
    }

    .one {
        position: relative;
        top: 275px;
        right: 380px;
    }

    .two {
        position: relative;
        bottom: 70px;
    }

    .three {
        position: relative;
        bottom: 150px;
        left: 380px;
    }

    .four {
        position: relative;
        bottom: 240px;
    }

    img{
        width: 50px;
        position: absolute;
        top: 120px;
    }
}

